* {
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    color: #fff;
}
html, main, body {
    height: 100%;
    width: 100%;
}
/* **Header** */
header {
    background-color: #46424D;
    height: 60px;
}
h1 {
    padding: 15px 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
main {
    background-color: #2b2733;

}
h2 {
margin: 30px 30px 15px 30px;
font-size: 24px;
color: #CBC9CF;
}

/* **Section left** */
.left-container, .right-container {
    float: left;
    height: 100%
}

.left-container {
    width: 65%;
    font-size: 1.25em;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #46424D;
    margin: 0 30px;
    padding: 30px 100px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px #26222d;
}

#startActivityForm {
  justify-content: unset;
  align-items: center;

}

h3 {
  color:#CBC9CF;
  text-align: center;
  margin-top: 20px;
}

.start-button {
  margin-top: 60px;
  border-radius: 50%;
  font-size: 1.2em;
  background: transparent;
  height: 225px;
  width: 225px;
  border: 3px solid white;
  color:#CBC9CF !important;
}

.select-category {
    margin-bottom: -30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 5px;
    border: none;
    outline: none;
}
.button {
    background: transparent;
    border: 1.5px solid #fff;
    width: 175px;
    padding: 10px;
    font-size: .8em;
}

input {
    background: transparent;
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px solid #fff;
}
.timer {
    font-size: 3.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.error-message {
  margin-top: -27px;
  color: #EFB7EC;
  font-size: 0.7em;
}
#secondsError {
    margin-left: 60%;
}

.minutes-seconds-container {
    display: flex;
    justify-content: space-between;
}
.minutes-seconds-container > p {
    width: 40%;
}

.button-icon {
    height: 25px;
    width: auto;
}

.warning-icon {
  height: 15px;
  width: auto;
  padding-right: 6px;
}

.start-activity-button {
    color: #2b2733;
    height: 40px;
    margin-left: 70%;
    font-size: large;
    font-weight: 400;
}
/* **Section right** */
.right-container {
    width: 35%;
    border-left: 4px solid #46424D;
}
.right-container > p {
    text-align: center;
    line-height: 1.8em;
    margin-top: 7%;
    color: #CBC9CF;
}

/* active button settings */
.study-active {
  border-color: #B3FD78;
  color: #B3FD78;
}
.meditate-active {
  border-color: #C278FD;
  color: #C278FD;
}
.exercise-active {
  border-color: #FD8078;
  color: #FD8078;
}
.timer-input::-webkit-inner-spin-button,
.timer-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hidden {
    display: none;
}
