* {
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    color: #fff;
}

/* **Header** */
header {
    background-color: #46424D;
    height: 60px;
}
h1 {
    padding: 1% 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
main {
    background-color: #2b2733;
    height: 95vh;
}
h2 {
    width: 60vw;
}
/* **Section left** */
.left-container, .right-container {
    float: left;
}

.left-container {
    width: 65vw; 
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #46424D;
    margin: 0 30px;
    padding: 30px 100px;
    height: 700px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}
.button-container > button {
    background: transparent;
    border: 1.5px solid #fff;
    width: 15%;
}
input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
}
.minutes-seconds-container {
    display: flex;
    justify-content: space-between;
}
.minutes-seconds-container > p {
    width: 40%;
}
.button-icon {
    height: 25px;
    width: auto;
}


/* **Section right** */
.right-container {
    height:95vh;
    width: 30vw;
    border-left: 4px solid #46424D;
}
